@model CadastroMotorista.Domain.Dtos.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Motorista</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/lib/toastr/css/toastr.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="login">
    <div id="container">
        <input type="hidden" id="success" value="@TempData["success"]" />
        <input type="hidden" id="error" value="@TempData["error"]" />

        <div class="loginBox">
            <form class="form-vertical" id="formLogin" action="/Login/VerificaLogin" method="post">
                @Html.AntiForgeryToken()

                <div class="control-group normal_text">
                    <h3>Login</h3>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <input type="email" id="email" name="Email" placeholder="Informe seu Email" required />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <input type="password" id="senha" name="Senha" placeholder="Informe sua Senha" required />
                        </div>
                    </div>
                </div>
                <div class="form-actions" style="text-align:center;">
                    <div class="text-center">
                        <div class="spinner-border text-light" id="spinner" role="status" hidden></div>
                    </div>
                    <button id="btn-login" class="btn btn-primary btn-large">Entrar</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/lib/toastr/js/toastr.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                var displayMessage = function (message, msgType) {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "3000",
                        "hideDuration": "3000",
                        "timeOut": "5000",
                        "extendedTimeOut": "3000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr[msgType](message);
                };

                if ($('#success').val()) {
                    displayMessage($('#success').val(), 'success');
                }

                if ($('#error').val()) {
                    displayMessage($('#error').val(), 'error');
                }
            });
        })
    </script>
</body>
</html>
